<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cucumber &amp; Calabash-cal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Cucumber &amp; Calabash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3B108951ADEF9AF0034DDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3B108AE1ADEF9AF0034DDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>e03977e5687e43caa7cb96f4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
